
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

body{
    background-color: black;
}
header{
    display: flex;
    justify-content: center;

    margin-top: 42px;
    margin-bottom: 50px;

    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}
#logo{
    width: 230px;
    height: 70px
}
#titu{
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
}
.contanier{
    width: 800px;
    height: 250px;

    display: flex;
    flex-direction: row;

    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -10px; 
    
   
}

a{
    text-decoration: none;
    overflow: hidden;
}
figure > img{
    border-radius: 8px 8px 8px 8px;
    margin: 26px;
    width: 160px;
    height: 160px; 
    transition: all 0.5s;
}  

figure > img:hover{
    transition: 0.5s;
    transform: scale(1.1);

}

#adicionar{
    background-image: url('Frame-51.png');
    border-radius: 8px;
    background-color: #1E1E20;;
    margin: 26px;
    width: 160px;
    height: 160px;
    transition: 0.3s;
    

}

#adicionar:hover{
   background-image: url('Frame-5.png');
    border: 1.4px white solid;
    transition: 0.7s;
    transform: scale(0.9);
}
figcaption{
    color: white;
    text-align: center;
}


#botao{
    color: white;
    background-color: black;
    border: 1px white solid;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 60px;
    width: 200px;
    height: 50px;

    position: absolute;
    left: 37%;
    right: 0%;
    top: 95%;
}
#botao:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px black solid;
    transition: 1s;
}